.jumbotron {
    padding: 10rem 5rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
  }

  .jumbotron h1{
      font-size: 2.7em;
  }

  .jumbotron p{
      font-size: 1.1em;
      padding-top: 1%;
  }

  .featured {
      margin-bottom: 10%;
  }

  .card-img-top{
      height: 10em;
  }

.about.jumbotron{
    padding: 8rem 3rem;
    font-size: 1em
    /* color: white; */
}

.topics{
    padding: 5rem 2rem;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-image {
    width: 10rem;
}

footer{
    background-color: hsl(225, 70%, 51%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed; 
    color: #e9ecef ;
    width: 100%;
    bottom: 0px; 
}

footer a{
    color: #e9ecef ;
}
footer a:visited{
    color: #e9ecef ;
}

footer a:hover{
    color: #e9ecef ;

}

.logo{
    font-size: 2em;
}

.socials{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.copyright{
    font-size: 0.6em;
    margin-bottom: 0%;
}

.filter{
    margin: auto;
    text-align: center;
    padding-bottom: 4%;
}

/* .cart-item-description{
    font-size: 0.5em;
    width: 25%;
    text-align: center;
    margin: auto;
} */