.jumbotron {
    padding: 10rem 5rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
  }

  .jumbotron h1{
      font-size: 2.7em;
  }

  .jumbotron p{
      font-size: 1.1em;
      padding-top: 1%;
  }

  .featured {
      margin-bottom: 10%;
  }

  .card-img-top{
      height: 10em;
  }

.about.jumbotron{
    padding: 8rem 3rem;
    font-size: 1em
    /* color: white; */
}

.topics{
    padding: 5rem 2rem;
}